div{
    display: flex;
    align-items: center;
    background-color: rgb(133, 179, 142);
    width: 100px;
    border-radius: 25px;
    justify-content: space-evenly;
    padding: 5px;
    margin: 50px 100px 50px 100px;
}
img{
    width: 15px;
}
button{
    border: 0px;
    background-color: rgb(133, 179, 142);
    font-size: 1em;
    font-family: 'MyFont';
    color: white;
}